.vscode/**
.github/**
.vscode-test/**
.claude/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
esbuild.mjs
out/**
**/*.vsix
package-lock.json
CHANGELOG.md
CLAUDE.md
