.vscode/**
.vscode-test/**
.claude/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/test/**
**/*.vsix
package-lock.json
CHANGELOG.md
CLAUDE.md
